@import "jekyll-theme-minimal";

/* Fond général du site */
body.site-background {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url("../img/indus1.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
}

/* Zone centrale avec fond blanc semi-transparent */
.content-container {
  max-width: 900px;
  margin: 2rem auto !important;
  padding: 2rem !important;
  background: rgba(255, 255, 255, 0.88) !important;
  border-radius: 15px;
  backdrop-filter: blur(3px);
  color: #333;
}
