---
---

@import "jekyll-theme-minimal";

body {
    margin: 0;
    padding: 0;
    background: url("images/indus1.png") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}
